*

!.bash_history
!.bash_logout
!.bash_profile
!.bashrc
!.config/
!.config/*
!.config/*/*
!.fehbg
!.gitconfig
!.gitignore
!.local/bin/*
!.mpd/
!.mpd/*
!.packages.txt
!.profile
!.vim
!.vimrc
!.Xauthority
!.xinitrc
!.xmodmap
!.Xresources
!.zprofile
!.zshenv
!.zshrc
